body {
  background: #20752c;
  color: #f7f2e8;
  font-family: "Quicksand", sans-serif;
  height: 100%;
  width: 100%;
  align-content: center;
}

a,
a:visited,
li {
  color: #f7f2e8;
}

.header {
  background: #4caf50;
  width: 100%;
  overflow: auto;
}

@media screen and (max-width: 600px) {
  .header {
    float: none;
    width: 100%;
  }
}

img {
  padding: 3px;
  vertical-align: text-bottom;
}

.container {
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  padding-bottom: 60px;
}

#containerForm {
  background: #feffe2;
  border-width: 3px;
  border-style: solid;
  border-color: #2d4e8e;
  color: navy;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 3px;
}

h4 {
  margin-left: 2px;
}

.list-group-item {
  line-height: 2.5;
}

#maxPlayerForm {
  margin-left: 10px;
}

#submitGame {
  margin-top: 40px;
  margin-left: 2%;
  margin-right: 1%;
  width: 47%;
}

#saveGame {
  margin-top: 40px;
  margin-left: 1%;
  margin-right: 2%;
  width: 47%;
}

.scoreAdjust {
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 5px;
}

i.material-icons {
  vertical-align: top;
  align-content: left;
}

.card .card-reveal {
  overflow-y: hidden;
}

#gameAdjustColumn {
  margin-left: 10px;
  margin-right: 20px;
  align-content: center;
}

#nextRound {
  margin-left: 2%;
  margin-right: 1%;
  width: 72%;
}

#endGame {
  margin-left: 1%;
  margin-right: 2%;
  width: 22%;
}

footer {
  padding-top: 10px;
  color: #cccccc;
  background: #20752c;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 5;
  overflow: auto;
}
